*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}
/* header section style */
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #412567;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #412567;
}
.menu{
    display: flex;
    gap: 40px;
    color: white;
    
}
.menu li{
    list-style: none;
}
.menu a{
     text-decoration: none;
     color: #FFFFFF;
     font-size: 16px;
     font-weight: 400;
}
.logo{
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;
}
.linear{
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
}
.subscribe-btn{
    width: 135px;
    height: 44px;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);

}
/* banner-container */
.banner-container{
    max-width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
}
.banner-content{
    padding-top: 100px;
   text-align: center;
}
.banner-heading{
    font-size:60px ;
    font-weight: bolder;
    color: #FFFFFF;
    padding-top: 40px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 24px;
}
.spotify-btn{
    width: 200px;
    height: 44px;
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);
    border: none;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 24px;
}
.subscribe{
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 40px;
    width: 147px;
    height: 44px;
    background-color: #40256700;
    margin-bottom: 100px;
}
/* about section */
.about{
    width: 1600px;
    height: 646px;
    background-color:#1A0B2E ;
    text-align: center;
    padding-top: 50px;
}
.about-hedlin{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.about-description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
    line-height: 1.5;
}
.about-description-1{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
    line-height: 1.5;;
}
.about-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.card-info{
    font-size: 2.5rem;
    font-weight: bold;
    color: #00FF88;
}
.card-headlin{
    color: #c4c0c0;
    font-size: 1rem;
    font-weight: 200;

}

/* choose section style */
.choose-container{
    width: 1600px;
    height: 1121px;
    background-color: #351165;
    
}
.choose-card{
    padding: 2rem;
    border-radius: 30px;
}
.choose-headlin{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    
}
.coose-hedlin{
    text-align: center;
    padding: 100px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.choose-content{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    
}
.choose-card{
    background-color: #56348398;
}
#box-1{
    grid-row: span 2;
    width: 210px;
}
#box-2{
    grid-column:  span 2;
}
#box-3{
    grid-column:  span 2;
}
#box-4{
    grid-column: span 2;
    height: 250px;
}
#box-5{
    grid-column: span 1;
    height: 250px;
}
/* featured section */
.feature-container{
    width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
}
.feature-headlin{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120px;
    text-align: center;

}
.feature-box{
    display: flex;
    justify-content: space-evenly;
}
.feature-card{
    width: 380px;
    height: 440;
    background-color: #3a1c6396;
    border-radius: 30px;
    margin-top: 40px;
}
.feature-content{
    padding: 20px;
}
.card-headlin{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
   
}
.card-description{
   color: #cccbcb;
   padding-top: 12px;
}
.time{
    display: flex;
    gap: 5px;
    padding-top: 12px;
}
.time-color{
    color: #00FF88;
}

.meet-hedlin{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120PX;
    text-align: center;
}
/* meet secttion */
.meet{
    width: 1600px;
}
.meet-container{
    width: 1200px;
    height: 280px;
    background-color: #391a63af;
    margin: 40px auto;
    border-radius: 40px;
    
   
}
.meet-cotent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 30px;
    
}
.meet-headlin{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.meet-description{
    color: #c4c0c0;
    padding-bottom: 10px;
}

 .img-border{
    border: 1px solid darkmagenta;
    padding: 8px;
    border-radius: 50%;
    margin: 3px;
    
 }
 /* footer section style */
 footer{
    width: 1600px;
    height: 412px;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
 }
.footer-logo{
    font-size: 64px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 29px;
}
.img-text{
    display: flex; 
    gap: 5px;
    text-align: center;
}
.img-name{
    font-size: 16px;
    font-weight: 300;
    color: #8f8d8d;
}
.all-text{
    color: #535353;
    text-align: center;
    margin-top: 32px;
    letter-spacing: 2.3;

}